.October-img{
    background-image: url("../../images/month/October.jpg");
    background-size: cover;
    width: 1000px;
    height: 750px;
    margin: auto auto;
}
.October-img:hover .darkness{
    opacity: 0.4;
    cursor: pointer;
}